@model IEnumerable<btre.Models.Realtor>

@{
    ViewData["Title"] = "Realtors";
}


<div class="container">
    <h1>Realtors</h1>
    <p>
        <a asp-action="CreateRealtor">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsMvp)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsMvp)
                </td>
                <td>
                    <a asp-action="EditRealtor" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="DeleteRealtor" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete this data?');">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>